<template>
    <div id="apptemplate">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <Header v-if="!noLayout()"></Header>
    <main class="main" :class="{ graylayout: noLayout() }">
      <div class="container">
        <router-view />
        <loadingOberlay></loadingOberlay>
      </div>
      {{ testInit }}
    </main>
    <Footer v-if="!noLayout()"></Footer>
    <modal-notification></modal-notification>
  </div>
</template>

<script>
import Header from "./components/partial/Header.vue";
import Footer from "./components/partial/Footer.vue";
import axios from "axios";
import { dispatchData, beforeEach } from "./assets/js/code";
import ModalNotification from "./components/ui/ModalNotification.vue";
import loadingOberlay from "./components/ui/LoadingOverlay";




export default {
    components: {  
    Header,
    Footer,
    "modal-notification": ModalNotification,
    loadingOberlay,
  },
  data() {
      return {        
        first:true
      };
    },
  computed: {
    testInit() {
      let gg=this.$helper.ObjectfilteredByValue(this.$route.meta,'layout');
      console.log(gg)
      this.init()
      return "";
    },
  },
  methods: {    
    ToLoginPageWithParam() {
      
      let currentUrl = this.$router.fullPath;
      this.$router.push({ name: "login", query: { returnUrl: currentUrl } })
    },
    async init(isShowToast = false) {
      
      console.log(`init token ${!this.$store.getters.tokenIsEmpty}`);
      if (!this.$store.getters.tokenIsEmpty) {
        const token = this.$store.state.token;
        await this.$store.dispatch(
          "updateUser",
          dispatchData(token, isShowToast)
        );
      } else {
        this.$store.dispatch("logout", isShowToast);
        console.log("init logout");
      }
    },
    noLayout() {
      const routeMeta = Object.keys(this.$route.meta);
      return routeMeta.indexOf("layout") > -1 && !routeMeta["layout"];
    },
    log(){},
  },
  updated() {
    if (this.first) {
      console.log('-------------------')
    const emptyToken=this.$store.getters.tokenIsEmpty;
    const currentRoute = {
      path: this.$router.currentRoute.path,
      role: this.$router.currentRoute.meta.role,
    };
    if (currentRoute.role > 0 && emptyToken) {
      this.$router.push({
        name: "login",
        query: { returnUrl: currentRoute.path },
      });         
     }   
     this.first=false;
    }

  },
  mounted() {
   
    this.init(false);

    this.$router.beforeEach((to, from, next) => {
      beforeEach(this.$router, this.$store, to, from, next);
    });
  }, 
  created() { 


    axios.interceptors.response.use(
      "",
      // function(response) {
      //   const newtoken = response.headers["newtoken"] || "";
      //   if (newtoken.length > 0) this.$store.dispatch("updateToken", newtoken);
      //   console.log("updateToken interceptors ");

      // },
      function(error) {
        const err = error.response;
        if (err.status === 401) {
          console.log("401");
        } else if (err.status === 400) {
          console.log(400);
        }
        return Promise.reject(error);
      }
    )
  },
}

</script>


