<template>
  <li class="dropdown">
    <div class="usershow ">
      <div>
        <span>
          {{ getUser.fio }}
        </span>
      </div>
      <div class="center-avatar">
        <a class="dropdown__item_a" href="#">
          <div class="imgDivMax48">    
            <img class='img100Max' src="../../assets/img/user/default.png" alt="getUser().avatar">
           </div>  
            
           
        </a>
      </div>
    </div>
    <ul class="dropdown__menu">
      <li class="menu__item">
        <router-link tag="a" :to="{ name: 'user', params: { userUrl: getUser.url } }"
          >ЛК</router-link
        >
      </li>
      <li class="menu__item">
        <a v-on:click.prevent="logout" href="#">Выйти</a>
      </li>
    </ul>
  </li>
</template>
<script>
export default {
  computed: {  
     getUser() {
       console.log(`header user ${this.$store.state.user}`)
      return this.$store.state.user;
    }  
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
   
  }
};
</script>

<style>
.dropdown,
.menu_item {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  border-radius: 5%;
}
a {
  display: block;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* .dropdown__item_a:after {
    content: ' \25bc';
} */
.menu__item:hover a {
  background: rgba(86, 186, 236, 0.7);
  border-radius: 6px;
}
.dropdown ul {
  opacity: 0;
  position: absolute;
  top: 70px;
  right: 6px;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.dropdown:hover ul {
  opacity: 1;
  top: 70px;
  right: 15px;
  visibility: visible;
}
.dropdown ul .dropdown__menu {
  width: 100%;
}
.usershow {
  padding-left: 1rem;
  display: flex;
  height: 64px;
}
.usershow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu__item {
  background: #039be5;
  line-height: 25px;
  border-bottom: 1px solid white;
  border-radius: 5px;
  width: 120px;
}
.menu__item a {
  padding: 5px 6px;
}
.dropdown__menu {
  display: flex;
  flex-direction: column;
}
.dropdown__item_a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4px;
}

.dropdown__item_a p {
  display: block;
  max-width: 42px;
  max-height: 42px;
  width: 42px;
}
#avatar {
  display: block;
  width: 100%;
  color: white;
}
#avatar:hover {
  background: none;
}
.center-avatar{
 display: flex;
 flex-direction: column;
 justify-content: center;
 
}
.imgDivMax48 {
  height: 48px;
}
</style>
