<template>
  <div>
    <div
      :v-if="role"
      class="input-field col s12 m12"
      :class="{ invalid: !validator.username.$anyError }"
    >
      <i class="material-icons prefix">account_circle</i>

      <input
        id="username"
        name="username"
        :value="value"
        v-on:input="$emit('input', $event.target.value)"
        type="text"
        :class="{
          invalid: !validator.username.minLength
        }"
      />

      <label :class="{ active: validator.username.invalid }" for="username"
        >Имя</label
      >
      <span
        class="invalid helper-text error"
        v-if="!validator.username.minLength"
      >
        Пожалуйста, укажите более 3 символов</span
      >
    </div>
    <div
      class="input-field col s12 m12"
      :class="{ invalid: !$v.email.$anyError }"
    >
      <i class="material-icons prefix ">mail_outline</i>
      <input
        v-model.trim="email"
        id="email"
        name="email"
        type="text"
        :class="{
          invalid: ($v.email.$dirty && !$v.email.required) || !$v.email.email
        }"
      />
      <label :class="{ active: $v.email.invalid }" for="email">email</label>
      <span
        class="helper-text error  invalid"
        v-if="$v.email.$dirty && !$v.email.required"
      >
        Пожалуйста, укажите email</span
      >
      <span
        class="invalid helper-text  error"
        v-else-if="$v.email.$invalid && !$v.email.email"
      >
        Пожалуйста, укажите корректный email</span
      >
    </div>
    {{ test }}
  </div>
</template>
<script>
 import {  minLength,maxLength,email, required,sameAs  } from "vuelidate/lib/validators";
export default {
  props: {
    name: String,
    role: { type: Boolean },
    value: String,
    validator: Object
  },
  computed: {
    test() {
      return "";
    }
  },
  validations: {
    username: { minLength: minLength(3),maxLength:maxLength(60) },
    email: { email, required, minLength: minLength(4) },
    password: { required, minLength: minLength(6) },
    terms: {
      sameAsTerms: sameAs(() => {
        return true;
      })
    },
    repassword: {
      sameAsPassword: sameAs("password")
    }
  }
};
</script>
