<template>
  <div class="input-field">
    <input
      :type="type"
      :id="descr"
      :name="descr"
      v-on:input="$emit('input', $event.target.inputValue)"
      :class="{
        invalid:
          ($v.inputValue.$dirty && !$v.inputValue.required) ||
          ($v.inputValue.$dirty && !$v.inputValue.email)
      }"
    />
    <label :for="descr">{{ title }}</label>
    <small
      class="helper-text invalid"
      v-if="$v.inputValue.$dirty && !$v.inputValue.required"
      >Пожалуйста, укажите email</small
    >
    <small
      class="helper-text invalid"
      v-else-if="$v.inputValue.$dirty && !$v.inputValue.email"
      >Пожалуйста, укажите корректный email</small
    >
  </div>
</template>
<script>
export default {
  props: {
    title: { type: String, default: "" },
    type: { type: String, default: "text" },
    descr: { type: String, default: "form_input" }
  },
  data: () => ({
    inputValue,
  })
};
</script>
