<template>
  <div class="file-container">
    <div class="main_flex flex__jcontent_center mT20 form-group">
      <input
        :accept="accept"
        type="file"
        class="input-file files"
        :multiple="!single"
        @change="HandlerFiles"
        :id="inputFileId"       
      />
      <label :for="inputFileId" class="btn-file js-labelFile">
        <span class="js-fileName">Загрузить файл</span>
      </label>
    </div>  
    <div class="progress mT20">
      <div class="determinate"></div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    single: { type: Boolean, default: true },
    inputFileId: { type: String, default: "inputFileId" },
    accept:{type:String,default:"application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"},
    

  },
  data() {
    return {
      documentBytes: ""
    };
  },
  methods: {   
    HandlerFiles(event) {    
      let progress = document.querySelector(".determinate");
      new Promise((resolve, reject) => {
        function updateProgress(evt) {
          // evt is an ProgressEvent.
          if (evt.lengthComputable) {
            var percentLoaded = Math.round((evt.loaded / evt.total) * 100);
            // Increase the progress bar length.
            if (percentLoaded < 100) {
              progress.style.width = percentLoaded + "%";
            }
          }
        }

        let files = event.target.files;
        files.forEach(file => {
          let reader = new FileReader();
          reader.onerror = () => reject("Ошибка");
          reader.onprogress = updateProgress;
          reader.onabort = function(e) {
            console.log(`onabort ${e}`);
          };
          reader.onloadstart = function() {
            progress.style.width = "0";
            ///css////
          };
          reader.onload = function() {
            //call(reader.result)
           // this.$emit('LoadData', reader.result);

          //  result=reader.result;
            resolve(reader.result);
          
            progress.style.width = "100%";
            progress.textContent = "100%";
          };
          reader.readAsDataURL(file)

        });
      }).then(x=>this.$emit('handlerOnLoad',x))
    }  
  }
};
</script>
<style lang="scss">
.js-fileName{
  text-align: center;
  vertical-align: middle;
  font-weight: 700
}


$md-color: #ff2a6b;
.file-container .btn-file {
  color: white;
  padding: 0;
  line-height: 40px;
  width: 150px;
  display: block;
  border: 2px solid $md-color;
  transition: 0.5s;
  background: $md-color;
}
.file-container .btn-file:hover,
.file-container .btn-file:focus {
  color: #888;
  border-color: $md-color;
}
.file-container .input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-container .input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
  cursor: pointer;
}
.file-container .input-file + .js-labelFile .icon:before {
  content: "\f093";
}
.file-container .input-file + .js-labelFile.has-file .icon:before {
  content: "\f00c";
  color: #5aac7b;
}
/* ----- */
.btn-file {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.6);
  background-color: #f1f1f1;
  color: #ecf0f1;
  transition: background-color 0.3s;
}
.btn-file:hover,
.btn-file:focus {
  background-color: #fdfdfd;
}
.btn-file > * {
  position: relative;
}
.btn-file span {
  display: block;
}
.btn-file:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn-file :active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}
.btn-file.red {
  background-color: $md-color;
}
.btn-file.red:hover,
.btn-file.red:focus {
  background-color: #c0392b;
}
</style>
