<template>
  <div>
    <form id="UserDataForm" class="col s12" @submit.prevent="onSubmit">
      <input type="hidden" id="id" name="id" v-model.trim="id" />

      <div class="row">
        <div
          v-if="isPage == 'user'"
          class="input-field col s12 m12"
          :class="{ invalid: !$v.url.$anyError }"
        >
          <i class="material-icons prefix">account_circle</i>

          <input
            id="url"
            name="url"
            v-model.trim="url"
            type="text"
            :class="{
              invalid: !$v.url.minLength || $v.url.maxlength
            }"
          />

          <label :class="{ active: $v.url.invalid }" for="url"
            >короткий путь</label
          >
          <span
            class="invalid helper-text  error"
            v-if="!$v.url.minLength || !$v.url.maxLength"
          >
            Пожалуйста, укажите более 3 символов</span
          >
        </div>

        <!-- <div
          v-if="isPage!=1"
          class="input-field col s12 m12"
          :class="{ invalid: !$v.fio.$anyError }"
        >
          <i class="material-icons prefix">account_circle</i>

          <input
            id="fio"
            name="fio"
            v-model.trim="fio"
            type="text"
            :class="{
              invalid: !$v.fio.minLength || $v.fio.maxlength
            }"
          />

          <label :class="{ active: $v.fio.invalid }" for="fio"
            >Имя</label
          >
          <span
            class="invalid helper-text  error"
            v-if="(!$v.fio.minLength || !$v.fio.maxLength)"
          >
            Пожалуйста, укажите более 3 символов</span>
        </div> -->

        <div
          v-if="isPage == 'user'"
          class="input-field col s12 m12"
          :class="{ invalid: $v.fio.$error }"
        >
          <i class="material-icons prefix">account_circle</i>

          <input
            id="fio"
            name="fio"
            v-model.trim="fio"
            type="text"
            :class="{
              invalid: !$v.fio.minLength || $v.fio.maxlength
            }"
          />

          <label :class="{ active: $v.fio.invalid }" for="fio">Фио</label>
          <span class="invalid helper-text  error" v-if="!$v.fio.minLength">
            Пожалуйста, укажите более 3 символов</span
          >
        </div>
        <div
          class="input-field col s12 m12"
          :class="{ invalid: $v.email.$error }"
        >
          <i class="material-icons prefix">mail_outline</i>

          <input
            v-model.trim="email"
            v-on:click="click"
            id="email"
            name="email"
            type="text"
            :class="{
              invalid:
                ($v.email.$dirty && !$v.email.required) || !$v.email.minLength
            }"
          />
          <label :class="{ active: $v.email.$invalid }" for="email"
            >email</label
          >

          <span
            class="helper-text error  invalid"
            v-if="$v.email.$dirty && !$v.email.required"
          >
            Пожалуйста, укажите email</span
          >
          <span class="invalid helper-text  error" v-else-if="!$v.email.email">
            Пожалуйста, укажите корректный email</span
          >
          <span
            class="invalid helper-text  error"
            v-else-if="isPage == 'register' && !$v.email.isUnique"
          >
            Данный email занят, укажите другой</span
          >
        </div>

        <div v-if="!isPage == 'user'" class="input-field col s12 m12">
          <i class="material-icons prefix">lock_open</i>
          <input
            id="password"
            name="password"
            v-model.trim="password"
            type="password"
            :class="{
              invalid:
                ($v.password.$dirty && !$v.password.required) ||
                !$v.password.minLength
            }"
          />
          <label :class="{ active: $v.password.invalid }" for="password"
            >пароль</label
          >
          <!-- <span
            class="helper-text error  invalid"
            v-if="$v.password.$dirty && !$v.password.required"
          >
            Пожалуйста, укажите пароль</span
          > -->
          <span
            class="helper-text error  invalid"
            v-if="$v.password.$dirty && !$v.password.required"
          >
            Пожалуйста, укажите пароль</span
          >
          <span
            class="invalid helper-text  error"
            v-else-if="$v.password.$invalid && !$v.password.minLength"
          >
            Пожалуйста, укажите не менее 6 символов</span
          >
        </div>

        <div v-if="isPage == 'register'" class="input-field col s12 m12">
          <i class="material-icons prefix">lock</i>
          <input
            id="repassword"
            name="repassword"
            v-model.trim="repassword"
            type="password"
            :class="{
              invalid: !$v.repassword.sameAsPassword
            }"
          />
          <label :class="{ active: $v.repassword.invalid }" for="repassword"
            >еще раз пароль</label
          >
          <span
            class="helper-text error  invalid"
            v-if="!$v.repassword.sameAsPassword"
          >
            Внимание, пароли должны совпадать</span
          >
        </div>

        <!-- <div v-if="isPage=='register'">
          <label style="margin-left:1rem">
            <input id="terms" name="terms" v-model="terms" type="checkbox" />
            <span>cогласен</span>
                </label>
                <div class="invalidInput" style="margin-left:3.5rem" v-if="$v.terms.$dirty && !$v.terms.sameAsTerms">
                    Пожалуйста, укажите согласие
                </div>
            </div> -->
        <div class="col s12 m12 center-align mB20">
          <button
            class="btn waves-effect waves-light center "
            type="submit"
            name="action"
          >
            {{ switchText }}

            <i class="material-icons right">navigate_next</i>
          </button>
        </div>
        <div class="  ">
          <div class="centerText" v-if="isPage == 'login'">
            нет аккаунта,
            <router-link tag="a" class="not-block" :to="{ name: 'register' }"
              >регистрация тут</router-link
            >
          </div>
          <div class="centerText" v-if="isPage == 'register'">
            <router-link class="not-block" :to="{ name: 'login' }"
              >есть аккаунт, войти</router-link
            >
          </div>
        </div>
        <div v-if="isPage != 'user'" class="input-field col s12 m12">
          <span class="smallText"
            >Нажимая кнопку "<b>{{
              isPage == "login" ? "Войти" : "Зарегистрироваться"
            }}</b
            >", вы даете согласие на обработку персональных данных и
            соглашаетесь с политикой конфиденциальности</span
          >
        </div>
      </div>
      {{ Tet }}
    </form>
  </div>
</template>

<script>
import axios from "axios";
import { validationMixin } from "vuelidate";
import { objFilter, mapFromSource } from "../../assets/js/code";

import {
  email,
  required,
  minLength,
  maxLength,
  sameAs
} from "vuelidate/lib/validators";
export default {
  data: () => ({
    id: "",
    fio: "",
    email: "admin@test.ru",
    password: "LikeMe123!",
    avatar: "",
    url: "",
    repassword: "",
    terms: false
  }),
  computed: {
    isPage() {
      return this.$route.name;
    },
    Tet() {
      if (this.$store.getters.isAuth) this.updateDefaultData();
      return "";
    },
    switchText() {
      switch (this.isPage) {
        case "login":
          return "Войти";
        case "register":
          return "Зарегистрироваться";
        case "user":
          return "Сохранить";
        default:
          return "";
      }
    }
  },
  mixins: [validationMixin],
  validations: {
    fio: { minLength: minLength(3), maxLength: maxLength(10) },
    url: { minLength: minLength(3), maxLength: maxLength(40) },
    avatar: { minLength: minLength(3), maxLength: maxLength(40) },
    password: { required, minLength: minLength(6) },
    repassword: { sameAsPassword: sameAs("password") },
    email: {
      required,
      email,
      minLength: minLength(4),
      async isUnique(value) {
        if (this.isPage != "register") return true;
        if (value === "") return false;

        const response = await axios.post(
          "http://localhost:5000/api/account/freeemail",
          {
            email: value
          }
        );
        console.log(response);
        return response.data;
      }
    }
  },
  methods: {
    updateDefaultData() {
      if (this.$store.getters.isAuth) {
        mapFromSource(this._data, this.$store.state.user);
      }
    },
    click() {
      this.$v.$touch();
    },
    async onSubmit() {
      this.$v.$touch();
      if (this.isPage == "login") {
        this.repassword = this.password;
      }

      const resultData = {
        url: this.isPage,
        form: {},
        status: !this.$v.$invalid
      };

      let allowed = "";
      switch (this.isPage) {
        case "login":
          allowed = ["email", "password"];
          break;
        case "register":
          allowed = ["email", "password", "repassword"];
          break;
        case "user":
          allowed = ["email", "fio", "url", "id", "avatar"];
          break;
      }

      resultData.form = objFilter(this._data, allowed);

      return this.$emit("submit", resultData);
    }
  },
  mounted() {
    window.M.updateTextFields();
    const inputs = document.querySelectorAll(
      "input[type=password], input[type=text]"
    );
    window.M.CharacterCounter.init(inputs);
  }
};
</script>
