<template>
<footer class="page-footer blue main_flex__nowrap flex__jcontent_between"> 
 
  <a class="grey-text text-lighten-4 ttt"  href="#">aristov nikolay © {{getYearNow()}} </a>
 <a class="grey-text text-lighten-4 red "  href="#">admin </a>


</footer>
</template>
<script>
export default {
    methods: {
        getYearNow() {
            return new Date().getFullYear();
        }
    }
    
}

</script>
<style>
.page-footer a{
    text-align: center;
    margin: 0px 0 15px 0;}

</style>

