<template>
  <header>
    <nav class="blue">
      <div class="nav-wrapper ">
        <a href="#" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="floatR sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right  hide-on-med-and-down ">
   
          <li
            v-for="item in routeList"
            :key="item.key"
            :class="{ active: routeName === item.name }"
          >
            <router-link tag="a" :to="{ name: item.name }"
              >{{ item.title }}
            </router-link>
          </li>
       
          <drop-down-menu v-if="isAuth"></drop-down-menu>
        </ul>
      </div>
    </nav>
    <div id="mobile-demo" class="sidenav">
      <ul></ul>
      <ul>
        <li v-for="item in routeList" :key="item.key">
          <a v-on:click.prevent="ClickNavMenu(item.name)" href="#">{{
            item.title
          }}</a>
        </li>
      </ul>
    </div>
  </header>
</template>
<script>
import DropDownMenu from "../form/DropDownMenu.vue";

export default {
  components: {
    "drop-down-menu": DropDownMenu,
  },
  data() {
    return {};
  },
  computed: {
    isAuth() {
      console.log(`header ${this.$store.getters.isAuth}`)
      return this.$store.getters.isAuth;
    },
    routeList() {
      let list = this.GetRoute();
      if (this.isAuth) list = list.filter((x) => x.name != "login");
      return list;
    },
    routeName() {
      return this.$route.name;
    },
  },
  methods: {
    GetRoute() {
      const menuRouter = this.$router.options.routes;
      
      
      return menuRouter
        .filter((route) => route.meta.showInMenu)
        .map((route) => {
          return {
            name: route.name,
            path: route.path,
            title: route.meta.title,
          };
        });
    },
    ClickNavMenu(routeName) {
      window.M.Sidenav.getInstance(
        document.getElementsByClassName("sidenav")[0]
      ).close();
      if (this.$router.currentRoute.name != routeName) {
        this.$router.push({ name: routeName });
      }
    },
  },
};
</script>
