<template>
  <div class="row main_flex flex__jcontent_center ">

      <div class="card-panel z-depth-5  w25rem" >
        <h4 class="center">
          {{ isLoginPage ? "Войти" : "Зарегистрироваться" }}
        </h4>
        <div class="row">       
          <UserForm v-on:submit="FormResult"></UserForm>
        </div>     
    </div>
    <!--col-->
  </div>
</template>
<script>
import UserForm from "../components/form/UserForm";
import axios from "axios";
export default {
  components: {
    UserForm,
  },
  data: () => ({}),
  computed: {
    isLoginPage() {
      return this.$route.name === "login";
    },
  },
  methods: {
    async FormResult(data) {
      if (data.status) {
        const userData=data.form;
        if (data.url == "register") {
          try {
            const register = await axios.post(
              "http://localhost:5000/api/account/",
              userData
            );
            const user=register.data;           
            if (user) {              
              this.login(userData);
            }
          } catch(e)  {
            this.$helper.Toast("Ошибка регистрации", 3);
          }
          
        } else this.login(data.form);
      }
    },
    async login(authData) {

      const result = await this.$store.dispatch("updateToken", authData);
    
      if (result) {
        console.log(`auth token ${!this.$store.getters.tokenIsEmpty}`);
        this.$parent.init(true);
        const returnUrl = this.$route.query.returnUrl;
        if (returnUrl && returnUrl.length > 0) {
          this.$router.push({ path: returnUrl });
        } else this.$router.push("/");
      }
    },
  },

  mounted() {},
};
</script>



