<template>
    <div>
        <h1>home</h1>
        <a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
    </div>
</template>
<script>
export default {
     name: 'Home'
}
</script>

