<template>
  <div>
    <div class="offsetH40"></div>
    <div class="main_flex__nowrap flex__jcontent_center">
      <div class="leftResume main_flex__nowrap flex__jcontent_center flex__align-items_start"><div class='avatar'><span>avatar</span></div></div>
      <div class="a1">
        <div>
          <h4>Аристов Николай</h4>
          <p>Мужчина, 30 лет, родился 1 января 1990</p>
          <p>Екатеринбург, не готов к переезду, не готов к командировкам</p>
        </div>
        <div>
          <p><small>Контакты</small></p>
          <p>+7 (961) 769-64-93 желательно не звонить!</p>
          <p>tneomichi@gmail.com — предпочитаемый способ связи</p>
          <p>ggneomichi</p>
          <p>ggneomichi</p>
        </div>
      </div>
    </div>
    <hr />
    <div class="main_flex__nowrap flex__jcontent_center">
      <h3>разработчик asp.net mvc (core)</h3>
      <div><ul>
<li>Информационные технологии, интернет, телеком</li>
<li>Программирование, Разработка</li>
<li>Администратор баз данных</li>
<li>Интернет</li>
<li>Занятость: проектная работа, частичная занятость</li>
</ul>
График работы: удаленная работа, гибкий график, полный день, сменный график</div>
      <div></div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style>
.offsetH40 {
  margin-bottom: 40px;
}
.leftResume {
  width: 250px;
  border: 1px solid rgb(216, 214, 214);
}
.a1 {
  width: 400px;
  border: 1px solid #000;
}
.avatar {
  margin: 40px;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(206, 200, 200);
}
</style>
