<template>
  <div class="row col s12 m12">
    <h4 style="text-align:center">Кабинет</h4>
   
  </div>
</template>
<script>

export default {
  components: {
  
  },
  computed: {
    run() {
      console.log(this);
      return '';
    },
    
    
  },
  data: () => ({
    currentUrl: "",
  }),
  methods: {  
    GetAvatar() {
         return document.getElementById("user__img").src;
    },
    SendFile(e) {    
           const userImg = document.getElementById("user__img")
          
           userImg.src=e;
     
    },
    SaveUserData(data) {
      data.form["avatar"]= this.GetAvatar();
         console.log(data.form)
         console.log(data.status)
      if (data.status) {
          //console.log(data.form);
      }
   
     
    }
  },
  mounted() {
    //let param=this.$route;
    console.log("user param");
    console.log(this.$route.params.userId);
  },
};

//      // read the image file as a data URL.
//     //reader.readAsDataURL(this.files[0]);
</script>
<style>
.imgDiv {
  max-width: 164px;
  max-height: 164px;
}
.p20 {
  padding: 20px;
}
.div2 {
  margin-left: 20px;
  margin-right: 20px;
  width: 300px;
  visibility:visible;
}
</style>
