#apptemplate {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

nav {
  padding: 0 10px;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.graylayout {
  background: -o-linear-gradient(306deg, #9ab3d1, #7e7e7e, #313659);
  background: linear-gradient(144deg, #9ab3d1, #7e7e7e, #313659);
  background-size: 600% 600%;
  -webkit-animation: greyLayoutAnimation 20s ease infinite;
  animation: greyLayoutAnimation 20s ease infinite;
}

@-webkit-keyframes greyLayoutAnimation {
  0% {
    background-position: 0% 35%
  }

  50% {
    background-position: 100% 66%
  }

  100% {
    background-position: 0% 35%
  }
}

@keyframes greyLayoutAnimation {
  0% {
    background-position: 0% 35%
  }

  50% {
    background-position: 100% 66%
  }

  100% {
    background-position: 0% 35%
  }
}



footer.page-footer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  ;
  /* padding: 10px 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[data-target="mobile-demo"] {

  float: right;
}

.floatNone {
  float: none;
}

.setColor {
  color: #F44336;
}

a.not-block {
  padding: 0;
  display: inline;

}

.centerText {
  text-align: center;
}

.mTB20 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.mB20 {
  margin-bottom: 20px;

}

.mT20 {
  margin-top: 20px;
}

/* костыли */
nav ul a:hover {
  background: none;
}





.imgDiv {
  width: 32px inherit;
}

.borderPer {
  border: 1px 1px rgb(239, 229, 229, 0.7)
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.inputfile+label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: red;
}

.progress_bar {
  margin: 10px 0;
  padding: 3px;
  color: #000;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
 -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear; 
}

.progress_bar.loading {
  opacity: 1.0;
}

.progress_bar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}

.card {
  border-radius: 5px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 34px 12px rgba(214, 214, 214, 1);
  -moz-box-shadow: 0px 0px 34px 12px rgba(214, 214, 214, 1);
  box-shadow: 0px 0px 34px 12px rgba(214, 214, 214, 1);
}

.slidebar {
  display: flex;
}

.slidebar__item {
  max-height: 260px;
  max-width: 168px;
}

div.slidebar-container {
  width: 100vw;
}


.home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;

}

.img100 {
  width: 100%;
  height: 100%;
}

.img_container {
  position: relative;
}

.img_container-text {
  position: absolute;
  right: 3vw;
  top: 3vh;
  font-size: 3vh;
  transform: rotate(25deg);
  color: #bfbfcb;
  display: block;
}

.msg-error {
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}




.sidenav-overlay {
  z-index: -99;
  display: none;
  background: none;
}


.img100Max {
  max-width: 100%;
  max-height: 100%;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


.w25rem {
width: 25rem;
}

.card-panel {
  border-radius: 5px;
}