<template>
  <div>
    <loading
      :active.sync="watchLoadState"
      
      :on-cancel="this.onCancel"
      :is-full-page="fullPage"
      :opacity="0.6"
    ></loading>

  <!-- <button v-on:click="open()" class="">open</button> -->

  </div>
</template>
<script>
import Loading from "vue-loading-overlay";
export default {
 
  data() {
    return {
      visible: false,
      isLoading: false,
      fullPage: true,
     
    };
  },
  computed: {
    watchLoadState() {
     // console.log(`loader ${this.$store.state.showLoad}`)
      return this.$store.state.showLoad      
    }
  },
  components: {
    Loading
  },
  methods: {
    // open() {
    //   this.isLoading = true;
    //   //setTimeout(() => (this.isLoading = false), 5000);
    //   // console.log('open was clicked, will auto hide');
    //   // let loader = this.$loading.show({
    //   //
    //   // });
    //   // setTimeout(() => loader.hide(), 3 * 1000)
    // },
  
     onCancel() {      
       console.log("User cancelled the loader.");
      
     }
  }
};
</script>
