<template>
  <div>
    <div :id="id" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4>{{ title }}</h4>
        <p v-html="content"></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{
          buttonText
        }}</a>
      </div>
    </div>
    {{Wait}}
  </div>
</template>
<script>
export default {
  props: {
    header: { type: String, default: "modal1" },
    title: { type: String, default: "title" },
    buttonText: { type: String, default: "Agree" },
    content: { type: String, default: "text" },
    id: { type: String, default: "id" }
  },
  computed: {
     Wait() {
      // if (this.$store.getters.isModal) {
      //   this.$store.dispatch("clearModal");
      //   let obj=this.$store.state.modalObj;

      // }
      return "";
     }
  }
};
</script>
