<template>
  <div>
    <div class="slider">
      <ul class="slides">
        <li>
          <img
            src="https://static.pexels.com/photos/1029/landscape-mountains-nature-clouds-medium.jpg"
          />
          <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">
              Here's our small slogan.
            </h5>
          </div>
        </li>
        <li>
          <img
            src="https://static.pexels.com/photos/471/nature-flowers-plant-blur-medium.jpg"
          />
          <!-- random image -->
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">
              Here's our small slogan.
            </h5>
          </div>
        </li>
        <li>
          <img
            src="https://static.pexels.com/photos/6695/summer-sun-yellow-spring-medium.jpg"
          />
          <!-- random image -->
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">
              Here's our small slogan.
            </h5>
          </div>
        </li>
        <li>
          <img
            src="https://static.pexels.com/photos/1848/nature-sunny-red-flowers-medium.jpg"
          />
          <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">
              Here's our small slogan.
            </h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
