@mixin baseToast {
  text-align: center;  
  border-radius: 3px;
  color: white;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 12px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 12px -1px rgba(56, 56, 56, 1);
  display: flex;
 align-self: flex-end;
 
}

.toast-warning {
  @include baseToast;
  background-color: #fce4ec;
}

.toast-info {
  @include baseToast;
  background-color: #4fc3f7;
}

.toast-error {
  @include baseToast;
  background-color: #ef5350;
}

.toast-success {
  @include baseToast;
  background-color: #81c784;
}

#toast-container.toast {
  :hover {
    -moz-transform: translate(50px, 0px);
    -webkit-transform: translate(50px, 0px);
    -o-transform: translate(50px, 0px);
    -ms-transform: translate(50px, 0px);
    transform: translate(50px, 0px);
  }
}

//   .toast.toast-success {
//   padding: 0 30px;
//  }

#toast-container {
  text-align: center;
  position: fixed;
  display: inline-flex;
    flex-direction: column;

}

// .container {
//   width: 100%;
//   max-width:initial;
// }
// .container > .row {
//   margin: 0;
// }
// .container > .row > .col {
//   padding: 0;
// }




